<%- include('../partials/header') %>

<table id="list">
    <tr>
        <td>Flight's Airline</td>
        <td><%= flight.airline %></td>
    </tr>
    <tr>
        <td>Airport</td>
        <td><%= flight.airport %></td>
    </tr>
    <tr>
        <td>Flight No.</td>
        <td><%= flight.flightNo %></td>
    </tr>
    <tr>
        <td>Departure date</td>
        <td><%= flight.departs %></td>
    </tr>
</table>

<form  action="/flights/<%= flight._id %>/tickets/new" method="GET">
  <button type="submit">New Ticket</button>
</form>


<form action="/flights/<%= flight._id %>/destination" method="POST">
    <label>Airport</label>
    <select name="airport">
        <option value="DEN">DEN</option>
        <option value="DFW">DFW</option>
        <option value="AUS">AUS</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    </br><label>
        Date
    </label>
    <input type="date" name="arrival">
    </br>
    <button type="submit" name="arrival">Add a Destination</button>
</form>

<% if (flight.destination.length) {%>
    <table>
        <thead>
          <tr>
            <th>Airport</th>
            <th>Arrival</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destination.forEach(function(f) { %>
            <tr>
              <td><%= f.airport %></td>
              <td><%= f.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>Non-stop flight</h5>
    <% } %>
  </main>
</body>

</html>